REMOTE_USER="<remote user to connect over SSH>"
REMOTE_HOST="<remote host to connect over SSH>"
IMAGE_NAME="<name to use for the Docker image>"
CONTAINER_NAME="<name to use for the Docker container>"
IMAGE_PATH="<remote path the image will be copied to>"
ENV_PATH="<remote path where the .env file will be copied to>"
LOGS_PATH="<remote path where logs will be stored>"
